.btnSize {
    height: 50px;
    width: 50px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.barPos {
    translate: -25vw;
}

.leftHidden {
    display: none;
}

@media (max-width: 768px) {
    .btnSize {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    .barPos {
        translate: 0;
    }

    .leftHidden {
        display: flex;
    }
}